
<div class="footer">
  <div class="footer-copyright">
    <p>Want to forever change the Energy Market?</p>
    <p>Sign up to get ahead of the latest news and technology</p> <i class="fas fa-heart"></i>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
