
<footer class="footer">
  <div class="footer-copyright">
    <p>Want to forever change the Energy Market?</p>
    <p>Sign up to get ahead of the latest news and technology</p>
  </div>
  <div class="footer-links">

    <a href="https://www.instagram.com/renbloc/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/renbloctechnology/"><i class="fa fa-facebook-square"></i></a>
    <a href="https://www.linkedin.com/company/renbloc/"><i class="fa fa-linkedin"></i></a>
  </div>
</footer>
