<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">News</a>
  <a href="#">Contact</a>
  <a href="#">How it's done</a>
  <a href="#">About us</a>
</div>
<!-- Use any element to open the sidenav -->
<div class="navbar-open">
  <button class="btn btn-flat" onclick="openNav()"><%= image_tag ("menu"), :class => "menu"%></button>
</div>



<script>
function closeNav() {
  document.getElementById("mySidenav").style.width = "0%";
}
  function openNav() {
  document.getElementById("mySidenav").style.width = "100%";
}

</script>
