<% content_for :navbar do %>
   <div class="empty"></div>
<% end %>

<div class="page-container">
  <div class="banner-container">
      <h1>Power in your hands</h1>
      <p>RenBloc aims to disrupt the energy market through transparency and trust,
      by offering the conscious consumer, the ability to truly control what type of energy
      they consume.
    </p>
  </div>
  <div class="tech">
    <h2>Tracing energy from source to consumption</h2>
    <p>Consumers today are unable to control what type of energy they consume. This creates a massive consumer alienation,
      since the energy industry is by far the largest force affecting our climate.
      RenBloc will empower consumers to truly control what type of energy they consume.
      We offer the conscious consumer the ability to impact and actively change the market.
    </p>
  </div>
  <div class="essentials">
    <div class="part1">
      <h2>Offer your Customers Trustworthy Energy</h2>
      <p>The energy industry is facing a time of severe change.
        Faith in energy companies is rapidly falling, and consumer disloyalty is at an all-time high.
        Customers are demanding more from companies in terms of choice, transparency, and trust.
        RenBloc can now offer the level of transparency that your customers are craving,
        building a truly loyal customer base!
      </p>
      <div class="bubbles1">
        <img src="../assests/images/lights.jpg" alt="city">
        <img src="../assets/images/office.jpg" alt="office">
      </div>
    </div>
    <div class="part2">
      <h2>Become Truly Renewable</h2>
      <p>Energy usage in buildings accounts for a large part of our total climate impact. Lowering our energy consumption is of
        the utmost importance for reaching our target climate goals.
        Utilizing RenBloc allows you to take smart buildings to the next level.
        We make energy usage more efficient by allowing industry and property owners to distribute
        energy where it is needed, as well as deciding from where that energy is sourced.
      </p>
      <div class="bubbles2">
        <img src="" alt="">
        <img src="" alt="">
      </div>
    </div>
  </div>

  <div class="benefit-cards">
      <div class="cards">
        <h3>First to Market</h3>
        <p>RenBloc is the only company currently offering this service</p>
      </div>
      <div class="cards">
        <h3>Cross Border Trading</h3>
        <p>Our technology opens up the global market</p>
      </div>
      <div class="cards">
        <h3>Verifiable</h3>
        <p>Truly control what type of energy you consume</p>
      </div>
      <div class="cards">
        <h3>Trust</h3>
        <p>Transparency builds trust and long lasting relationships</p>
      </div>
      <div class="cards">
        <h3>Ease of Use</h3>
        <p>Easily search out producer, location, company or energy source</p>
      </div>
      <div class="cards">
        <h3>Online</h3>
        <p>Instantly accessible through our platform or partner apps</p>
      </div>
  </div>

    <div class="collaborate">
      <h2>Let’s shape the Future Together!</h2>
      <p>RenBloc is today the only company that enables consumers to truly control – and freely choose – what type of energy they consume.
        We see a future where energy awareness increases, and the power of the conscious consumer takes central stage.
        RenBloc aims to be the driving force for a more open, more transparent and ultimately more sustainable energy market.
        If we change our energy – we change our climate!</p>
    </div>

    <div class="partners">
      <%= image_tag ("/assets/images/partners.jpg"), class: "img-responsive"%>
    </div>



    <div class="team">
      <div class="about-us">
        <h2>About us</h2>
      </div>
      <div class="content-about">
      <h3>This is Renbloc</h3>
      <p>The idea for RenBloc was sprung over a kitchen table in the winter of 2017.</p>
      <p>Founders Gustaf Svensson and Nils Söderström made the switch to 100% renewable energy contracts,
        however we realized that they had no way of verifying, nor tracing, what was actually being delivered.
        We set out to change this – empowering consumers to freely choose their type of energy – changing the market forever!
        Since then we have partnered with major energy companies, as well as launched our first product,
        proving that not being able to trace your energy is a thing of the past!</p>

      <p>Want to take back control of your energy? Reach out!</p>
      </div>
        <img class="teamrenbloc" src="../assets/images/teamrenbloc.png" alt="">
    </div>
</div>

